/* =============== Hero Section ================= */
.blur-leftCorner {
  background-color: rgb(245, 16, 245);
  top: 0;
  left: 0;
  width: 15rem;
  height: 8rem;
  border-radius: 50%;
  filter: blur(12rem);
}

.blur-rightCorner {
  background-color: rgb(245, 16, 245);
  top: 0;
  right: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  filter: blur(20rem);
}

.blur-bottomCorner {
  background-color: rgb(245, 16, 245);
  bottom: 0;
  left: 20rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  filter: blur(20rem);
}

/* =========== Responsive Blur ============= */
/* xl: 1280px */
@media (max-width: 1280px) {
  .blur-leftCorner {
    width: 12rem;
    height: 8rem;
    filter: blur(10rem);
  }

  .blur-rightCorner {
    width: 16rem;
    height: 16rem;
    filter: blur(16rem);
  }

  .blur-bottomCorner {
    width: 11rem;
    height: 11rem;
    filter: blur(16rem);
  }
}

/* lg: 1024px */
@media (min-width: 1024px) {
}

/* md: 768px */
@media (min-width: 768px) {
}

/* xl: 640px */
@media (max-width: 640px) {
  .blur-leftCorner {
    width: 5rem;
    height: 4rem;
    filter: blur(6rem);
  }

  .blur-rightCorner {
    width: 10rem;
    height: 10rem;
    filter: blur(10rem);
  }

  .blur-bottomCorner {
    width: 11rem;
    height: 11rem;
    filter: blur(16rem);
  }
}
