.backgroundNet {
  background: url("../../assets/node.svg") no-repeat;
  background-position: center;
}

.height {
  height: auto;
}

.bg-gradient {
  background: linear-gradient(to right, #e855de2a 0%, #5300ee34 100%);
}

.blur-effect {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(245, 16, 245);
  filter: blur(1.8rem);
}

@media (max-width: 1024px) {
  .backgroundNet {
    background: none;
    background-position: center;
  }
}
